<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @person.first_name %>,</h1>
    <p>
      Please visit <a href="<%= @url %>">this link</a> to reset your password.
    </p>
    <p>
      If the link doesn't work, please copy and paste <%= @url %> into your browser.
    </p>
  </body>
</html>