<div class="text-page row">
	<div class="span12">
		<h3>Mission</h3>
		<p>
			Midd Ventures, founded in 2011 as the Midd Venture Community, exists to serve the growing community of Middlebury College entrepreneurs and innovators. The organization encourages the creation of new ventures, connects existing ventures with valuable resources, and raises awareness around the entrepreneurial ecosystem of Middlebury College.
		</p>

		<h3>Activity</h3>
		<div class="row">
			<div class="span4">
				<h5>Demo Days</h5>
				<p>
					Midd Ventures organizes demo days to showcase student businesses on campus. Businesses present to a range of students, faculty, investors and mentors.
				</p>
			</div>
			<div class="span4">
				<h5>Happy Hours</h5>
				<p>
					The Midd Ventures arranges monthly happy hours with students, faculty, alumni and investors.
				</p>
			</div>
			<div class="span4">
				<h5>MiddChallenge</h5>
				<p>
					Midd Ventures advises and judges the business portion of the
					<a href="http://www.middlebury.edu/studentlife/innovation/middchallenge" target="_blank">MiddChallenge</a>
					competition.
				</p>
			</div>
		</div>
		<h3>About This Site</h3>
		<p>The Midd Ventures website, <a href="http://www.middventures.com/">www.middventures.com</a>, was created to serve as a news medium and database for Middlebury-related ventures. Users are encouraged to post information about Middlebury people and ventures in the database, however, all non-Middlebury content will be removed from the database.</p>
<!-- 		<h3>Leadership</h3>
		<div class="row center">
			<div class="span4">
				<h5>Will Potter</h5>
				<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
				<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/wspotter" data-format="hover" data-text="Will Potter" data-related="false"></script>
			</div>
			<div class="span4">
				<h5>Logan Randolph</h5>
				<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
				<script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/logan-randolph/62/a52/60a/" data-format="hover" data-text="Logan Randolph" data-related="false"></script>
			</div>
			<div class="span4">
				<h5>Kate Robinson</h5>
			</div>
			<div class="span4"></div>
		</div>
 -->	</div>
</div>